* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display        : flex;
    align-items    : center;
    justify-content: center;
    min-height     : 100vh;
    padding        : 0 10px;
    background     : #ee9bff;
}

.wrapper {
    width        : 370px;
    padding      : 30px;
    border-radius: 7px;
    background   : #fff;
    box-shadow   : 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper h1 {
    font-size  : 28px;
    font-weight: 700;
    text-align : center;
}

.wrapper .convert-section {
    margin: 40px 0 20px 0;
}

.convert-section .input-amount,
.title-currency {
    font-size    : 18px;
    margin-bottom: 5px;
}

.convert-section :where(input, select, button) {
    width        : 100%;
    outline      : none;
    border-radius: 5px;
    border       : none;
}

.convert-section input {
    height   : 50px;
    font-size: 17px;
    padding  : 0 15px;
    border   : 1px solid #999;
    margin-top: 5px;
}

.convert-section input:focus {
    padding: 0 14px;
    border : 2px solid #675AFE;
}

.convert-section .currency-section {
    display        : flex;
    margin-top     : 20px;
    align-items    : center;
    justify-content: space-between;
}

.currency-section .select-box {
    display        : flex;
    width          : 115px;
    height         : 45px;
    align-items    : center;
    border-radius  : 5px;
    justify-content: center;
    border         : 1px solid #999;
    cursor         : pointer;
}

.currency-section .select-box img {
    max-width: 21px;
}

.currency-section .select-box select {
    width     : auto;
    font-size : 16px;
    background: none;
    margin    : 0 -5px 0 5px;
    cursor    : pointer;
}

.currency-section .select-box select::-webkit-scrollbar {
    width: 8px;
}

.currency-section .select-box select::-webkit-scrollbar-track {
    background: #fff;
}

.currency-section .select-box select::-webkit-scrollbar-thumb {
    background   : #888;
    border-radius: 8px;
    border-right : 2px solid #ffffff;
}

.currency-section .icon {
    cursor    : pointer;
    margin-top: 30px;
    font-size : 22px;
}

.currency-section .currency-items {
    /* padding: 10px; */
}

.convert-section .exchange-rate {
    font-size: 17px;
    margin   : 20px 0 30px;
}

.convert-section button {
    height    : 52px;
    color     : #fff;
    font-size : 17px;
    cursor    : pointer;
    background: #ff57f1;
    transition: 0.3s ease;
    font-weight: 600;
}

.convert-section button:hover {
    background: #fa25cc;
}

.custom-btn {
	background   : transparent;
	cursor       : pointer;
	transition   : all 0.3s ease;
	position     : relative;
	display      : inline-block;
	box-shadow   : inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.btn-2:before {
	height: 0%;
	width : 2px;
}

.btn-2:hover {
	box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
		-4px -4px 6px 0 rgba(116, 125, 136, .5),
		inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
		inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
